<mat-card>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="group">
            <mat-label>Name:</mat-label>
                <input matInput
                    type="text"
                    id="name"
                    formControlName="name"
                    [(ngModel)]="project.name" 
                    >
                <mat-error
                    *ngIf="projectForm.get('name').touched && projectForm.get('name').errors?.required">
                    Name is required
                </mat-error>
                <mat-error
                    *ngIf="projectForm.get('name').errors?.minlength">
                    Name min length is 4 characters
                </mat-error>
                <mat-error
                    *ngIf="projectForm.get('name').errors?.maxlength">
                    Name max length is 100 characters
                </mat-error>
        </mat-form-field>
        
        <mat-form-field class="group">
            <mat-label>Description:</mat-label>
            <textarea matInput
                type="textarea" 
                id="description"
                formControlName="description"
                [(ngModel)]="project.description"
                ></textarea>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Deadline:</mat-label>

                <input matInput
                    type="date" 
                    id="deadline"
                    formControlName="deadline"
                    [(ngModel)]="project.deadline"
                    >
                <mat-error
                    *ngIf="projectForm.get('deadline').touched && projectForm.get('deadline').errors?.required">
                    Deadline is required
                </mat-error>
                <mat-error
                    *ngIf="projectForm.get('deadline').hasError('date-minimum')">
                    Deadline min date is today
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Team:</mat-label>
                <mat-select formControlName="team"  [(ngModel)]="project.teamId">
                    <mat-option *ngFor="let _team of teams" [value]="_team.id" [selected] = "_team.id === project.teamId">
                        {{_team.name}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="projectForm.get('team').touched && projectForm.get('team').errors?.required">
                    Team is required
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Author:</mat-label>
                <mat-select formControlName="author"  [(ngModel)]="project.authorId">
                    <mat-option *ngFor="let _user of users" [value]="_user.id" [selected] = "_user.id === project.authorId">
                        {{_user.firstName}} {{_user.lastName}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="projectForm.get('author').touched && projectForm.get('author').errors?.required">
                    Author is required
                </mat-error>
        </mat-form-field>

            <div class="form-buttons">
                <button
                    mat-raised-button
                    type="submit"
                    class="submit"
                    [disabled]="!projectForm?.valid">Save
                </button>
                <button 
                    mat-raised-button
                    color="warn"
                    type="button" 
                    class="cancel" 
                    (click)="onCancel()">Cancel
                </button>
            </div>
    </form>
</mat-card>