<mat-card>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="group">
            <mat-label>Name:</mat-label>
                <input matInput
                    type="text"
                    id="name"
                    formControlName="name"
                    [(ngModel)]="task.name" 
                    >
                <mat-error
                    *ngIf="taskForm.get('name').touched && taskForm.get('name').errors?.required">
                    Name is required
                </mat-error>
                <mat-error
                    *ngIf="taskForm.get('name').errors?.minlength">
                    Name min length is 4 characters
                </mat-error>
                <mat-error
                    *ngIf="taskForm.get('name').errors?.maxlength">
                    Name max length is 100 characters
                </mat-error>
        </mat-form-field>
        
        <mat-form-field class="group">
            <mat-label>Description:</mat-label>
            <textarea matInput
                type="textarea" 
                id="description"
                formControlName="description"
                [(ngModel)]="task.description"
                ></textarea>
        </mat-form-field>

        <mat-form-field *ngIf="isEdit" class="group">
            <mat-label>State:</mat-label>
                <mat-select formControlName="state" [(ngModel)]="task.state">
                    <mat-option *ngFor="let item of states | keys" [value]=+item.key>
                        {{item.value}}
                    </mat-option>
                </mat-select>
        </mat-form-field>


        <mat-form-field class="group">
            <mat-label>Finished At:</mat-label>
                <input matInput
                    type="date" 
                    id="finishedAt"
                    formControlName="finishedAt"
                    [(ngModel)]="task.finishedAt"
                    >
                <mat-error
                    *ngIf="taskForm.get('finishedAt').touched && taskForm.get('finishedAt').errors?.required">
                    Finished At is required
                </mat-error>
                <mat-error
                    *ngIf="taskForm.get('finishedAt').hasError('date-minimum')">
                    Finished At min date is today
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Project:</mat-label>
                <mat-select formControlName="project"  [(ngModel)]="task.projectId">
                    <mat-option *ngFor="let _project of projects" [value]="_project.id" [selected]="_project.id === task.projectId">
                        {{_project.name}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="taskForm.get('project').touched && taskForm.get('project').errors?.required">
                    Project is required
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Performer:</mat-label>
                <mat-select formControlName="performer"  [(ngModel)]="task.performerId">
                    <mat-option *ngFor="let _user of users" [value]="_user.id" [selected] = "_user.id === task.performerId">
                        {{_user.firstName}} {{_user.lastName}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="taskForm.get('performer').touched && taskForm.get('performer').errors?.required">
                    Performer is required
                </mat-error>
        </mat-form-field>

            <div class="form-buttons">
                <button
                    mat-raised-button
                    type="submit"
                    class="submit"
                    [disabled]="!taskForm?.valid">Save
                </button>
                <button 
                    mat-raised-button
                    color="warn"
                    type="button" 
                    class="cancel" 
                    (click)="onCancel()">Cancel
                </button>
            </div>
    </form>
</mat-card>