<mat-toolbar color="primary">
    <div class="header">
      <div class="header-content title">
        <img src="favicon.ico">
        Project app
      </div>
      <div class="header-content">
          <a routerLink='/projects' routerLinkActive="active-header-link" color="accent">Projects</a>
          <a routerLink='/users' routerLinkActive="active-header-link">Users</a>
          <a routerLink='/teams' routerLinkActive="active-header-link">Teams</a>
          <a routerLink='/tasks' routerLinkActive="active-header-link">Tasks</a>
      </div>
    </div>
  </mat-toolbar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>