/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html, body 
{ 
    height: 100%; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 16px;
    background-color: rgb(233, 231, 231);
}
.btn-group {
    height: 24px;
    width: 24px;
}

.btn-group  .dropdown-menu {
    display: none;
}

.open .dropdown-menu {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #ccc;
    width: 40px;
    right: 20px;
    padding: 5px 0;
}

.dropdown-menu li {
    display: flex;
    height: 24px;
    position: relative;
    justify-content: center;
}

.dropdown-menu li:hover {
    background-color: #ccc;
}

.dropdown-menu a {
    cursor: pointer;
}

.group {
    width: 100%;
}

form {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.form-buttons button {
    min-width: 80px;
    margin: 10px;
}

.form-buttons button.submit {
    background-color: #49cc90;
    color: white;
}

.task mat-icon {
    font-size: 12px;
}


.error-snack-bar span {
    color: red;
    text-align: center;
}

.usual-snack-bar span {
    text-align: center;
}

.list-component{
    position: relative;
    top: 70px;
}

.mat-spinner-wrapper {
    display: flex;
    justify-content: center;
}

.active 
{
    background-color:#3f51b5;
    color: white;
}

.more-button {
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 100px auto;
}