mat-card {
    position: fixed;
    right: 10%;
    left: 52%;
    top: 86px;
    bottom: 16px;
    margin-right: 16px;
}

mat-card-content {
    display: grid;
    max-height: 100%;
    max-width: 100%;
    grid-template-columns: auto 30px;
    overflow: auto;
}

mat-card-content a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

mat-card-content a:hover {
    color: blue;
}
