<mat-card>
    <mat-card-content *ngIf="project">
        <div class="content">
            <p><b>Name:</b></p><p>{{project?.name}}</p>
            <p><b>Description:</b></p><p>{{project?.description}}</p>
            <p><b>Created at:</b></p><p>{{project?.createdAt | localizedDate}}</p>
            <p><b>Deadline:</b></p><p>{{project?.deadline | localizedDate}}</p>
            <p><b>Team:</b></p><a [routerLink]="['/teams', project?.team?.id]">{{project?.team?.name}}</a>
            <p><b>Author:</b></p><a [routerLink]="['/users', project?.author?.id]">{{project?.author?.firstName}} {{project?.author?.lastName}}</a>
            <p><b>Tasks:</b></p>
            <div *ngIf="project?.tasks.length > 0; else noTasksText">
                <a *ngFor="let _task of project?.tasks" class="task" [routerLink]="['/tasks', _task?.id]">
                    <mat-icon [appTaskStatus]=_task?.state [matTooltip]='_task?.state | stringTaskState'>circle</mat-icon>{{_task?.name}}</a>
            </div>
            <ng-template #noTasksText>
                Project has no tasks.
            </ng-template>
        </div>
        <div
            class="btn-group"
            appDropdown>
            <button class="more-button">
                <mat-icon >more_vert</mat-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onEditProject()"><mat-icon>edit</mat-icon></a></li>
                <li><a (click)="onDeleteProject()"><mat-icon color="warn">delete</mat-icon></a></li>
            </ul>
        </div>
        
    </mat-card-content>
</mat-card>
