a {
    margin-top: 2px;
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

a:hover {
    box-shadow: 0 0 5px 5px lightblue;
}
